body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  font-size: 20px;
}
